<div class="services-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="{{ settings.first_footer_icon }}"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">{{ settings.first_footer_toptext }}</h6><span>{{ settings.first_footer_bottomtext }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="{{ settings.second_footer_icon }}"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">{{ settings.second_footer_toptext }}</h6><span>{{ settings.second_footer_bottomtext }}</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center">
          <div class="item d-flex align-items-center">
            <div class="icon"><i class="{{ settings.third_footer_icon }}"></i></div>
            <div class="text">
              <h6 class="no-margin text-uppercase">{{ settings.third_footer_toptext }}</h6><span>{{ settings.third_footer_bottomtext }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>