{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.


{% for product in collections["mens"].products %}
   <img src="{{product.featured_image | | img_url: 'small' }}" />
{% endfor %}
{% endcomment %}

{% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">
        {{ product.title }}
    </a>
    {{product.price | money }}
    {% unless product.available %}<br>
    <strong>sold out</strong>
    {% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | | img_url: 'large' }}"
      alt="{{ product.featured_image.alt | | escape }}" />
    </a>
  </div>
{% endfor %}